@import url('colors.css');

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-tokyo-background);
    color: var(--font-color);

    height: 100vh;
    /* Gesamte Höhe des Viewports nutzen */
    display: flex;
    flex-direction: column;
}

header { width: 100%; }
header img { width: 100%; height: 60px; }

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* Drei Spalten: links 1fr, Mitte 2fr, rechts 1fr */
    grid-gap: 20px;
    height: 100%;
    /* Container füllt die gesamte Höhe */
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* Drei Spalten: links 1fr, Mitte 2fr, rechts 1fr */
    grid-gap: 20px;
    height: 100%;
    /* Container füllt die gesamte Höhe */
}

h1 {
    font-size: 4em;
    color: var(--color-tokyo-cyan);
    /* text-shadow: 4px 4px 10px var(--color-tokyo-pink); */
}

h2 {
    font-size: 2em;
    border-bottom: 1px dashed var(--font-color);
    color: var(--color-tokyo-blue);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

p {
    font-family: var(--font-family);
    color: var(--font-color);
}

pre {
    font-size: 1em;
    color: var(--color-tokyo-pink);
    text-shadow: 4px 4px 10px var(--color-tokyo-pink);
}

.newsbox {
    font-size: 0.9em;
    display: block;
    padding: 8px;
    border: 2px dashed var(--color-tokyo-blue);
    margin: 10px 0 10px 0;
}

.petitdate {
    font-size: 0.8em;
    display: block;
    text-align: center;
}

.menu-logo {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

nav, main, aside {
    padding: 20px;
    overflow-y: auto; /* Ermöglicht vertikales Scrollen in jeder Spalte */
}

a {
    text-decoration: none; /* Entfernt die Standard-Unterstreichung */
    color: var(--color-tokyo-blue); /* Erbt die Textfarbe vom Eltern-Element */
    position: relative; /* Erlaubt eine genauere Platzierung der Pseudoelemente */
}

a:hover {
    color: var(--primary-color);
    background-color: var(--color-tokyo-blue);
}

a::before,
a::after {
    content: "["; /* Setzt den Inhalt des Pseudoelements */
}

a::after {
    content: "]"; /* Schließt die eckige Klammer nach dem Text */
}

footer {
  padding: 10px;
  color: #fff;
  font-size: 0.7em;
}

/* .tablevdstabs {  */
/*   position: sticky;  */
/*   top:0;   */
/*   background-color: #040211;  */
/*   text-align: center;  */
/*   /* border-bottom: 1px solid var(--accentcolor); */ */
/*   /* border-top: 1px solid var(--accentcolor);  */ */
/*   font-size: 22px;  */
/* } */

/* .tablevdstabs a {   */
/*   padding: 0px 6px 0px 6px; */
/* } */

table {
  border-collapse: collapse; 
  padding: 2px; 
  margin: auto; 
  display: block; 
  overflow-x: auto; 
  white-space: nowrap; 
}

thead th, .tablegear th { 
  border-bottom:1px solid var(--color-green); 
  padding:4px; 
  text-align: left; 
  color: var(--accentcolor); 
}

textarea{ color: aliceblue; border: 1px solid gray; background: rgba(0,0,0,0.1);} .textarea-desc {color: aliceblue; margin: 10 0 10 0; border-left: 1px solid var(--accentcolor); resize: vertical;width: 380px; height: auto; background: rgba(0,0,0,0.1); }
input[type=number],input[type=text],input[type=tel],input[type=button],button {color: var(--accentcolor);  height: 2rem; border: 1px solid var(--accentcolor); background: rgba(0,0,0,0.1); font-size: 16px;  }
input[type=button]:hover{ color: black; background-color: var(--accentcolor); cursor: pointer; }

button:disabled{border: 1px dashed gray; background-color: #010101; cursor: crosshair;}


.anschrift { width: 300px; height: auto; }




@media (max-width: 1000px) {

    .container,
    .container3 {
        grid-template-columns: 1fr;
        /* Eine Spalte: Alle Elemente untereinander */
        grid-template-rows: auto;
        /* Reihenfolge bleibt erhalten: nav, main, aside */
        height: auto;
        /* Container passt sich der Höhe der Inhalte an */
    }

    header img {
        width: 100%;
        height: 50px;
    }

    main,
    nav,
    aside {
        height: auto;
    }
}
